/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@tailwind  utilities;
.input-box {
    @apply m-2 p-1 border-2 w-1/3
}

.btn-blue {
    @apply bg-blue-800 text-white m-2 p-2 rounded-full
}


@tailwind utilities;

body {
    font-family: "Computer Modern Typewriter", sans-serif;
}

ol, ul {
    list-style: arabic-indic;
    margin: 0;
    padding: 0;
}